.project-item {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 4px;
    user-select: none;
}
.project-item:hover,.project-item.hovered {
    background-color: #f0f0f0; /* Light gray on hover */
    color: #333; /* Darker text on hover */
}
.project-item.active {
    background-color: #e0e0e0; /* Slightly darker gray for selected */
    color: #000; /* Black text for selected */
}